.default {
  header,
  footer {
    text-align: center;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding-1);
    border-bottom: var(--border);

    h1 {
      font-size: var(--font-size-4);
      cursor: pointer;
    }
  }

  footer {
    border-top: var(--border);

    p {
      font-size: var(--font-size);
    }
  }

  main {
    background-color: var(--color-background);
    box-shadow: inset 0px 2px 2px black;
    display: flex;
    flex-direction: column;
  }
}
