APP_PORT=3000
DATABASE_URL=postgresql://user:password@host:port/dbname
CLIENT=http://localhost:5173
JWT_SECRET=secret

CLOUDINARY_NAME=hjskfkooie
CLOUDINARY_KEY=458973407089890
CLOUDINARY_SECRET=h893492y83490089h34o0i2930
CLOUDINARY_FOLDER=folder
